body {
	background: #c44032;
	color: #f4f1de;
	font-size: 100%;
	font-family: "proxima-nova-1","proxima-nova-2", sans-serif;
}

a {
	color: #f4f1de;
 	text-decoration: underline;
 	-webkit-transition: color 0.15s ease-out;
	-moz-transition: color 0.15s ease-out;
}
 	
a:hover {
 	color: #863027;
}
 	
p {	
	font-size: 1em;
	margin: 0 0 1.5em 0;
}

.container {
	width: 80%;
	max-width: 1500px;
	margin: 0 auto;
 	background-colord: #da4838;
}

h1, h2 {
	color: #f4f1de;
	font-size: 14em;
	font-weight: 900;
	margin: 0 auto;
	line-height: 1.5;
	width: 100%;
}

h2 {
  font-size: 3em;
}
